{% extends './utils/paging.html.twig' %}

{% block title %}Series
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/intro.css" />
  <link rel="stylesheet" href="/glitch.css" />
  <link rel="stylesheet" href="/scroll.css" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{% endblock %}


{% block body %}

  {% if is_granted('IS_IMPERSONATOR') %}
    <a href="{{ impersonation_exit_path(path('app_login') ) }}">Exit impersonation</a>
  {% endif %}
  <div id="show">
    {% for s in pagination %}
      {% set youtubeTrailer = s.youtubeTrailer|replace({'watch?v=': 'embed/'}) %}
      <div class="showChildSeries" data-id="{{s.id}}" data-title="{{ s.title }}" data-épisodes="{{ s.season_count }} Seasons | {{ s.episode_count }} Episodes" data-avis="4" data-resum="{{s.plot}}" data-trailer="{{ youtubeTrailer }}">
        <img src="{{ path('app_series_poster', { 'id': s.id }) }}" alt="" class="posters">
      </div>
    {% endfor %}
  </div>

  {{ block('paging') }}
  <script>
    let mediaqueries = {width: window.innerWidth, height: window.innerHeight};
    window.addEventListener('resize', function () {
      mediaqueries = {width: window.innerWidth, height: window.innerHeight};
    });
    let first_time = '{{ hasVisited }}';
    if (document.location.href.includes('?page=1') && first_time === '') {
      document.cookie = "visited=yes;";
      document.body.innerHTML +=
              '<div id="container">' +
              '<netflixintro letter="X">' +
              '<div class="helper-1">' +
              '<div class="effect-brush">' +
              '<span class="fur-31"></span>' +
              '<span class="fur-30"></span>' +
              '<span class="fur-29"></span>' +
              '<span class="fur-28"></span>' +
              '<span class="fur-27"></span>' +
              '<span class="fur-26"></span>' +
              '<span class="fur-25"></span>' +
              '<span class="fur-24"></span>' +
              '<span class="fur-23"></span>' +
              '<span class="fur-22"></span>' +
              '<span class="fur-21"></span>' +
              '<span class="fur-20"></span>' +
              '<span class="fur-19"></span>' +
              '<span class="fur-18"></span>' +
              '<span class="fur-17"></span>' +
              '<span class="fur-16"></span>' +
              '<span class="fur-15"></span>' +
              '<span class="fur-14"></span>' +
              '<span class="fur-13"></span>' +
              '<span class="fur-12"></span>' +
              '<span class="fur-11"></span>' +
              '<span class="fur-10"></span>' +
              '<span class="fur-9"></span>' +
              '<span class="fur-8"></span>' +
              '<span class="fur-7"></span>' +
              '<span class="fur-6"></span>' +
              '<span class="fur-5"></span>' +
              '<span class="fur-4"></span>' +
              '<span class="fur-3"></span>' +
              '<span class="fur-2"></span>' +
              '<span class="fur-1"></span>' +
              '</div>' +
              '<div class="effect-lumieres">' +
              '<span class="lamp-1"></span>' +
              '<span class="lamp-2"></span>' +
              '<span class="lamp-3"></span>' +
              '<span class="lamp-4"></span>' +
              '<span class="lamp-5"></span>' +
              '<span class="lamp-6"></span>' +
              '<span class="lamp-7"></span>' +
              '<span class="lamp-8"></span>' +
              '<span class="lamp-9"></span>' +
              '<span class="lamp-10"></span>' +
              '<span class="lamp-11"></span>' +
              '<span class="lamp-12"></span>' +
              '<span class="lamp-13"></span>' +
              '<span class="lamp-14"></span>' +
              '<span class="lamp-15"></span>' +
              '<span class="lamp-16"></span>' +
              '<span class="lamp-17"></span>' +
              '<span class="lamp-18"></span>' +
              '<span class="lamp-19"></span>' +
              '<span class="lamp-20"></span>' +
              '<span class="lamp-21"></span>' +
              '<span class="lamp-22"></span>' +
              '<span class="lamp-23"></span>' +
              '<span class="lamp-24"></span>' +
              '<span class="lamp-25"></span>' +
              '<span class="lamp-26"></span>' +
              '<span class="lamp-27"></span>' +
              '<span class="lamp-28"></span>' +
              '</div>' +
              '</div>' +
              '<div class="helper-2">' +
              '<div class="effect-brush">' +
              '<span class="fur-31"></span>' +
              '<span class="fur-30"></span>' +
              '<span class="fur-29"></span>' +
              '<span class="fur-28"></span>' +
              '<span class="fur-27"></span>' +
              '<span class="fur-26"></span>' +
              '<span class="fur-25"></span>' +
              '<span class="fur-24"></span>' +
              '<span class="fur-23"></span>' +
              '<span class="fur-22"></span>' +
              '<span class="fur-21"></span>' +
              '<span class="fur-20"></span>' +
              '<span class="fur-19"></span>' +
              '<span class="fur-18"></span>' +
              '<span class="fur-17"></span>' +
              '<span class="fur-16"></span>' +
              '<span class="fur-15"></span>' +
              '<span class="fur-14"></span>' +
              '<span class="fur-13"></span>' +
              '<span class="fur-12"></span>' +
              '<span class="fur-11"></span>' +
              '<span class="fur-10"></span>' +
              '<span class="fur-9"></span>' +
              '<span class="fur-8"></span>' +
              '<span class="fur-7"></span>' +
              '<span class="fur-6"></span>' +
              '<span class="fur-5"></span>' +
              '<span class="fur-4"></span>' +
              '<span class="fur-3"></span>' +
              '<span class="fur-2"></span>' +
              '<span class="fur-1"></span>' +
              '</div>' +
              '</div>' +
              '<div class="helper-3">' +
              '<div class="effect-brush">' +
              '<span class="fur-31"></span>' +
              '<span class="fur-30"></span>' +
              '<span class="fur-29"></span>' +
              '<span class="fur-28"></span>' +
              '<span class="fur-27"></span>' +
              '<span class="fur-26"></span>' +
              '<span class="fur-25"></span>' +
              '<span class="fur-24"></span>' +
              '<span class="fur-23"></span>' +
              '<span class="fur-22"></span>' +
              '<span class="fur-21"></span>' +
              '<span class="fur-20"></span>' +
              '<span class="fur-19"></span>' +
              '<span class="fur-18"></span>' +
              '<span class="fur-17"></span>' +
              '<span class="fur-16"></span>' +
              '<span class="fur-15"></span>' +
              '<span class="fur-14"></span>' +
              '<span class="fur-13"></span>' +
              '<span class="fur-12"></span>' +
              '<span class="fur-11"></span>' +
              '<span class="fur-10"></span>' +
              '<span class="fur-9"></span>' +
              '<span class="fur-8"></span>' +
              '<span class="fur-7"></span>' +
              '<span class="fur-6"></span>' +
              '<span class="fur-5"></span>' +
              '<span class="fur-4"></span>' +
              '<span class="fur-3"></span>' +
              '<span class="fur-2"></span>' +
              '<span class="fur-1"></span>' +
              '</div>' +
              '</div>' +
              '<div class="helper-4">' +
              '<div class="effect-brush">' +
              '<span class="fur-31"></span>' +
              '<span class="fur-30"></span>' +
              '<span class="fur-29"></span>' +
              '<span class="fur-28"></span>' +
              '<span class="fur-27"></span>' +
              '<span class="fur-26"></span>' +
              '<span class="fur-25"></span>' +
              '<span class="fur-24"></span>' +
              '<span class="fur-23"></span>' +
              '<span class="fur-22"></span>' +
              '<span class="fur-21"></span>' +
              '<span class="fur-20"></span>' +
              '<span class="fur-19"></span>' +
              '<span class="fur-18"></span>' +
              '<span class="fur-17"></span>' +
              '<span class="fur-16"></span>' +
              '<span class="fur-15"></span>' +
              '<span class="fur-14"></span>' +
              '<span class="fur-13"></span>' +
              '<span class="fur-12"></span>' +
              '<span class="fur-11"></span>' +
              '<span class="fur-10"></span>' +
              '<span class="fur-9"></span>' +
              '<span class="fur-8"></span>' +
              '<span class="fur-7"></span>' +
              '<span class="fur-6"></span>' +
              '<span class="fur-5"></span>' +
              '<span class="fur-4"></span>' +
              '<span class="fur-3"></span>' +
              '<span class="fur-2"></span>' +
              '<span class="fur-1"></span>' +
              '</div>' +
              '</div>' +
              '</netflixintro>' +
              '</div>';
      document.body.style.overflow = 'hidden';
      setTimeout(function () {
        document.body.removeChild(document.getElementById('container'));
        document.body.style.overflow = 'auto';
        window.addEventListener('load', makeScript());
        page = document.querySelectorAll('.pagine .pagination a');
        for (let i = 0; i < page.length; i++) {
          page[i].addEventListener('click', makeScript())
        }
      if(mediaqueries.width>1100){
        const bannerInfoFirstPage = document.createElement('div');
        bannerInfoFirstPage.classList.add('bannerInfoFirstPage');
        document.body.insertBefore(bannerInfoFirstPage, document.getElementById('show'));
        const imgbannerInfoFirstPage = document.createElement('img');
        imgbannerInfoFirstPage.src = '/cinéma.png';
        imgbannerInfoFirstPage.classList.add('imgbannerInfoFirstPage');
        bannerInfoFirstPage.appendChild(imgbannerInfoFirstPage);
        const textbannerInfoFirstPageParent = document.createElement('div');
        textbannerInfoFirstPageParent.classList.add('textbannerInfoFirstPageParent');
        bannerInfoFirstPage.appendChild(textbannerInfoFirstPageParent);
        const titrebannerInfoFirstPage = document.createElement('p');
        titrebannerInfoFirstPage.classList.add('titrebannerInfoFirstPage');
        titrebannerInfoFirstPage.innerHTML = 'XploreCinéma';
        titrebannerInfoFirstPage.dataset.text = 'XPLORECINÉMA';
        titrebannerInfoFirstPage.classList.add('glitch');
        textbannerInfoFirstPageParent.appendChild(titrebannerInfoFirstPage);
        const textbannerInfoFirstPage = document.createElement('p');
        textbannerInfoFirstPage.classList.add('textbannerInfoFirstPage');
        textbannerInfoFirstPage.innerHTML = "Explorez l'univers fascinant des séries avec XploreCinéma, votre compagnon exclusif pour organiser et découvrir de nouveaux titres. XploreCinéma vous offre une expérience immersive, vous guidant à travers une variété de séries. Que vous soyez un amateur de drames intenses, de comédies légères ou de mystères envoûtants, XploreCinéma vous accompagne dans votre aventure télévisuelle, vous invitant à explorer et à apprécier chaque instant. Laissez-vous emporter par la magie du storytelling et découvrez des pépites cachées, tout en organisant votre voyage à travers l'océan infini des séries. XploreCinéma, votre guide ultime pour une expérience cinématographique sans limites.";
        textbannerInfoFirstPageParent.appendChild(textbannerInfoFirstPage);
        bannerInfoFirstPage.innerHTML+=
                '<div id="mouse-scroll">'+
                '<div class="mouse">'+
                '<div class="mouse-in"></div>'+
                '</div>'+
                '<div>'+
                '<span class="down-arrow-1"></span>'+
                '<span class="down-arrow-2"></span>'+
                '<span class="down-arrow-3"></span>'+
                '</div>'+
                '</div>';
        document.getElementById('mouse-scroll').style.top = bannerInfoFirstPage.getBoundingClientRect().bottom - document.getElementById('mouse-scroll').offsetHeight - 20 + 'px';
        window.addEventListener('scroll', function () {
          if(scrollY>0 && scrollY < bannerInfoFirstPage.getBoundingClientRect().top + bannerInfoFirstPage.offsetHeight){
            document.getElementById('menu').style.position = 'fixed';
            bannerInfoFirstPage.style.marginTop = document.getElementById('menu').offsetHeight + 40+ 'px';
            document.getElementById('menu').style.width = '80%';
            document.getElementById('menu').style.zIndex = '1000';
            document.getElementById('menu').style.boxShadow = 'rgba(0, 0, 0, 0.5) 0px 5px 8px 3px';
            document.getElementById('menu').style.borderLeft = '50vw solid #221F1F';
            document.getElementById('menu').style.borderRight = '50vw solid #221F1F';
          }else{
            document.getElementById('menu').style.position = 'relative';
            bannerInfoFirstPage.style.marginTop = '0';
            document.getElementById('menu').style.width = '100%';
            document.getElementById('menu').style.zIndex = '0';
            document.getElementById('menu').style.boxShadow = 'none';
            document.getElementById('menu').style.borderLeft = 'none';
            document.getElementById('menu').style.borderRight = 'none';
          }
        });
      }
      }, 5000);
    }else{
      window.addEventListener('load', makeScript());
      page = document.querySelectorAll('.pagine .pagination a');
      for (let i = 0; i < page.length; i++) {
        page[i].addEventListener('click', makeScript())
      }
    }
      if(document.location.href.includes('?page=1')){
        const bannerInfoFirstPage = document.createElement('div');
        bannerInfoFirstPage.classList.add('bannerInfoFirstPage');
        document.body.insertBefore(bannerInfoFirstPage, document.getElementById('show'));
        const imgbannerInfoFirstPage = document.createElement('img');
        imgbannerInfoFirstPage.src = '/cinéma.png';
        imgbannerInfoFirstPage.classList.add('imgbannerInfoFirstPage');
        bannerInfoFirstPage.appendChild(imgbannerInfoFirstPage);
        const textbannerInfoFirstPageParent = document.createElement('div');
        textbannerInfoFirstPageParent.classList.add('textbannerInfoFirstPageParent');
        bannerInfoFirstPage.appendChild(textbannerInfoFirstPageParent);
        const titrebannerInfoFirstPage = document.createElement('p');
        titrebannerInfoFirstPage.classList.add('titrebannerInfoFirstPage');
        titrebannerInfoFirstPage.innerHTML = 'XploreCinéma';
        titrebannerInfoFirstPage.dataset.text = 'XPLORECINÉMA';
        titrebannerInfoFirstPage.classList.add('glitch');
        textbannerInfoFirstPageParent.appendChild(titrebannerInfoFirstPage);
        const textbannerInfoFirstPage = document.createElement('p');
        textbannerInfoFirstPage.classList.add('textbannerInfoFirstPage');
        textbannerInfoFirstPage.innerHTML = "Explorez l'univers fascinant des séries avec XploreCinéma, votre compagnon exclusif pour organiser et découvrir de nouveaux titres. XploreCinéma vous offre une expérience immersive, vous guidant à travers une variété de séries. Que vous soyez un amateur de drames intenses, de comédies légères ou de mystères envoûtants, XploreCinéma vous accompagne dans votre aventure télévisuelle, vous invitant à explorer et à apprécier chaque instant. Laissez-vous emporter par la magie du storytelling et découvrez des pépites cachées, tout en organisant votre voyage à travers l'océan infini des séries. XploreCinéma, votre guide ultime pour une expérience cinématographique sans limites.";
        textbannerInfoFirstPageParent.appendChild(textbannerInfoFirstPage);
        bannerInfoFirstPage.innerHTML+=
                '<div id="mouse-scroll">'+
                '<div class="mouse">'+
                '<div class="mouse-in"></div>'+
                '</div>'+
                '<div>'+
                '<span class="down-arrow-1"></span>'+
                '<span class="down-arrow-2"></span>'+
                '<span class="down-arrow-3"></span>'+
                '</div>'+
                '</div>';
        document.getElementById('mouse-scroll').style.top = bannerInfoFirstPage.getBoundingClientRect().bottom - document.getElementById('mouse-scroll').offsetHeight - 20 + 'px';
        window.addEventListener('scroll', function () {
          if(scrollY>0 && scrollY < bannerInfoFirstPage.getBoundingClientRect().top + bannerInfoFirstPage.offsetHeight){
            document.getElementById('menu').style.position = 'fixed';
            bannerInfoFirstPage.style.marginTop = document.getElementById('menu').offsetHeight + 40+ 'px';
            document.getElementById('menu').style.width = '80%';
            document.getElementById('menu').style.zIndex = '1000';
            document.getElementById('menu').style.boxShadow = 'rgba(0, 0, 0, 0.5) 0px 5px 8px 3px';
            document.getElementById('menu').style.borderLeft = '50vw solid #221F1F';
            document.getElementById('menu').style.borderRight = '50vw solid #221F1F';
          }else{
            document.getElementById('menu').style.position = 'relative';
            bannerInfoFirstPage.style.marginTop = '0';
            document.getElementById('menu').style.width = '100%';
            document.getElementById('menu').style.zIndex = '0';
            document.getElementById('menu').style.boxShadow = 'none';
            document.getElementById('menu').style.borderLeft = 'none';
            document.getElementById('menu').style.borderRight = 'none';
          }
        });
      }

      function makeScript() {
        const menu = document.getElementById('parentItemMenuLeft');
        const research = document.createElement('div');
        research.classList.add('researchNavSpawn');
        research.classList.add('itemMenu');
        research.innerHTML = '<span class="material-symbols-outlined">search</span>';
        menu.appendChild(research);
        research.addEventListener('click', function () {
          menu.removeChild(research);
          const close = document.createElement('div');
          close.classList.add('closeResearch');
          close.innerHTML = '<span class="material-symbols-outlined">arrow_left</span>';
          menu.appendChild(close);
          close.addEventListener('click', function () {
            researchButton.style.animation = 'searchUnSpawning 0.5s forwards';
            setTimeout(function () {
              menu.removeChild(close);
              menu.removeChild(researchButton);
              menu.appendChild(research);
            }, 500);
          });
          const researchButton = document.createElement('button');
          researchButton.classList.add('researchButton');
          researchButton.innerHTML = '<form action="{{ path('app_default') }}" method="get"><input type="text" name="search" class="search" placeholder="Rechercher... for a series" /><select name="genre" id="genre"><option value="">All genres</option>{% for genre in genres %}<option value="{{ genre.id }}">{{ genre.name }}</option>{% endfor %}</select><input type="number" name="yearStart" id="yearStart" placeholder="Start Year" min="1900" max="{{ "now"|date("Y") }}" /><input type="number" name="yearEnd" id="yearEnd" placeholder="End Year" min="1900" max="{{ "now"|date("Y") }}" />{% if app.user %}<select name="follow" id="follow" placeholder="Followed"><option value="">All</option><option value="1">Followed</option><option value="0">Not followed</option></select>{% endif %}<button type="submit" class="material-symbols-outlined">search</button></form>';
          menu.appendChild(researchButton);
        });
        const series = document.getElementsByClassName('showChildSeries');
        const seriesPoster = document.getElementsByClassName('posters');
        let hover = false;
        for (let i = 0; i < series.length; i++) {
          if (mediaqueries.width > 650) {
            seriesPoster[i].addEventListener('mouseover', function () {
              posterHover(i);
              hover = true;
            });
            seriesPoster[i].addEventListener('mouseleave', function () {
              const overlay = series[i].querySelector('.overlay');
              if (overlay) {
                overlay.parentNode.removeChild(overlay);
              }
              hover = false;
            });
          }
          seriesPoster[i].addEventListener('click', function () {
            if (document.querySelector('.banner')) {
              document.body.removeChild(document.querySelector('.banner'));
              if (mediaqueries.width > 650) {
                document.getElementById('show').style.width = '100%';
                document.getElementById('show').style.marginRight = '0';
              }
            }
            makeBannerLeft(series[i], seriesPoster[i]);
          });
          let hoverTimer;
          let hoverTimer2;
          let before = [];
          let after = [];
          if (mediaqueries.width > 650) {
            series[i].addEventListener('mouseover', function () {
              if (!hover) {
                return;
              }
              hoverTimer = setTimeout(function () {
                before = [];
                after = [];
                for (let j = 0; j < series.length; j++) {
                  if (j < i) {
                    if (series[j].offsetTop === series[i].offsetTop) {
                      before.push(series[j]);
                    }
                  } else if (j > i) {
                    if (series[j].offsetTop === series[i].offsetTop) {
                      after.push(series[j]);
                    }
                  }
                }
                seriesPoster[i].style.rotate = '90deg';
                document.querySelector('.overlay').remove();
                seriesPoster[i].style.transform = 'scale(1)';
                const length = (seriesPoster[i].offsetHeight - series[i].offsetWidth) / 2;
                for (let j = 0; j < before.length; j++) {
                  before[j].style.transform = 'translateX(' + -length + 'px)';
                }
                for (let j = 0; j < after.length; j++) {
                  after[j].style.transform = 'translateX(' + length + 'px)';
                }
                hoverTimer2 = setTimeout(function () {
                  const iframe = document.createElement('iframe');
                  iframe.src = series[i].dataset.trailer + '?autoplay=1' + '&mute=1' + '&start=0';
                  iframe.width = series[i].offsetWidth + length * 2;
                  iframe.height = seriesPoster[i].offsetWidth;
                  iframe.style.border = 'none';
                  const paddings = (series[i].offsetHeight - seriesPoster[i].offsetWidth) / 2;
                  series[i].style.height = seriesPoster[i].offsetWidth + 'px';
                  series[i].style.paddingTop = paddings + 'px';
                  series[i].style.paddingBottom = paddings + 'px';
                  iframe.style.borderRadius = '6px';
                  series[i].appendChild(iframe);
                  seriesPoster[i].style.display = 'none';
                }, 500);
              }, 2500);
            });

            series[i].addEventListener('mouseleave', function () {
              clearTimeout(hoverTimer);
              clearTimeout(hoverTimer2);
              this.querySelector('img').style.display = 'flex';
              this.querySelector('img').style.rotate = '0deg';
              this.querySelector('img').style.removeProperty('transform');
              if (document.querySelector('iframe')) {
                document.querySelector('iframe').remove();
              }
              this.style.height = '350px';
              this.style.paddingTop = '0';
              this.style.paddingBottom = '0';
              this.style.position = 'relative';
              for (let j = 0; j < before.length; j++) {
                before[j].style.removeProperty('transform');
              }
              for (let j = 0; j < after.length; j++) {
                after[j].style.removeProperty('transform');
              }
            });
          }
        }
        const page = document.querySelectorAll('.number');
        for (let j = 0; j < page.length; j++) {
          page[j].addEventListener('click', function () {
            window.location.href = '?page=' + (j + 1);
          });
        }


        function posterHover(i) {
          const overlay = document.createElement('div');
          overlay.classList.add('overlay');
          series[i].appendChild(overlay);
          const title = document.createElement('p');
          title.classList.add('titlePosterHover');
          title.innerHTML = series[i].dataset.title;
          overlay.appendChild(title);
          const duration = document.createElement('p');
          duration.classList.add('durationPosterHover');
          if (series[i].dataset.duration != null) {
            duration.innerHTML = series[i].dataset.duration;
          } else if (series[i].dataset.épisodes != null) {
            duration.innerHTML = series[i].dataset.épisodes;
          } else {
            duration.innerHTML = 'Pas de durée estimée';
          } overlay.appendChild(duration);
          const parentStars = document.createElement('div');
          parentStars.classList.add('parentStarsPosterHover');
          for (let j = 0; j < series[i].dataset.avis; j++) {
            parentStars.innerHTML += '<span class="material-symbols-outlined">grade</span>';
          }
          for (let j = 0; j < 5 - series[i].dataset.avis; j++) {
            parentStars.innerHTML += '<span class="material-symbols-outlined">grade</span>';
            parentStars.lastChild.style.color = '#e3f7f5';
          }
          overlay.appendChild(parentStars);
          overlay.style.width = seriesPoster[i].width + 'px';
          overlay.style.transform = 'translateY(' + (
                  seriesPoster[i].offsetHeight - overlay.offsetHeight + Math.round(overlay.offsetHeight * 0.08)
          ) + 'px) translateX(' + (
                  seriesPoster[i].offsetLeft - overlay.offsetLeft + 1
          ) + 'px) scale(1.08)';
        }
      }
    if(mediaqueries.width <= 850){
      const show = document.getElementById('show');
      const slideLeft = document.createElement('div');
      const slideRight = document.createElement('div');
      slideLeft.classList.add('slideLeft');
      slideRight.classList.add('slideRight');
      slideLeft.innerHTML = '<span class="material-symbols-outlined">arrow_left</span>';
      slideRight.innerHTML = '<span class="material-symbols-outlined">arrow_right</span>';
      document.body.appendChild(slideLeft);
      document.body.appendChild(slideRight);
      slideLeft.addEventListener('click', function () {
        show.scrollLeft -= 250;
      });
      slideRight.addEventListener('click', function () {
        show.scrollLeft += 250;
      });
      slideLeft.style.top = show.offsetTop + ((show.offsetHeight - slideLeft.offsetTop)/2) + 'px';
      slideRight.style.top = show.offsetTop + ((show.offsetHeight - slideRight.offsetTop)/2) + 'px';
    }
      function makeBannerLeft(poster, posterImg) {
        const banner = document.createElement('div');
        banner.classList.add('banner');
        if(mediaqueries.width > 1700) {
          banner.addEventListener('mouseover', function () {
            banner.style.overflowY = 'scroll';
            document.body.style.overflowY = 'hidden';
          });
          banner.addEventListener('mouseleave', function () {
            banner.style.overflowY = 'hidden';
            document.body.style.overflowY = 'scroll';
          });
          banner.style.height = window.innerHeight - document.getElementById('show').offsetTop + scrollY + 'px';
          window.addEventListener('scroll', function () {
            banner.style.height = window.innerHeight - document.getElementById('show').offsetTop + scrollY + 'px';
            if (banner.offsetHeight >= window.innerHeight) {
              banner.style.borderTopLeftRadius = '0';
            } else {
              banner.style.borderTopLeftRadius = '15px';
            }
          });
        }
        const bannerClose = document.createElement('div');
        bannerClose.classList.add('bannerClose');
        bannerClose.innerHTML = '<span class="material-symbols-outlined">cancel</span>';
        banner.appendChild(bannerClose);
        const headerBanner = document.createElement('div');
        headerBanner.classList.add('headerBanner');
        const bannerTitle = document.createElement('p');
        bannerTitle.classList.add('bannerTitle');
        bannerTitle.innerHTML = poster.dataset.title;
        headerBanner.appendChild(bannerTitle);
        const bannerButtonMore = document.createElement('button');
        bannerButtonMore.classList.add('bannerButtonMore');
        bannerButtonMore.onclick = () => {
          window.location.href = "/series/" + poster.dataset.id;
        };
        bannerButtonMore.innerHTML = '<span class="material-symbols-outlined">info</span>';
        bannerTitle.appendChild(bannerButtonMore);
        banner.appendChild(headerBanner);
        const bannerImg = document.createElement('img');
        bannerImg.src = posterImg.src;
        bannerImg.classList.add('bannerImg');
        if(mediaqueries.width > 800) {
          banner.appendChild(bannerImg);
        }
        const resumé = document.createElement('p');
        resumé.classList.add('resumé');
        resumé.innerHTML = poster.dataset.resum;
        if(mediaqueries.width > 1700) {
          banner.appendChild(resumé);
        }else{
          headerBanner.appendChild(resumé);
        }
        const parentBottomBanner = document.createElement('div');
        parentBottomBanner.classList.add('parentBottomBanner');
        if( mediaqueries.width >1700) {
          banner.appendChild(parentBottomBanner);
        }else{
          headerBanner.appendChild(parentBottomBanner);
        }
        const bannerDuration = document.createElement('p');
        bannerDuration.classList.add('bannerDuration');
        if (poster.dataset.duration != null) {
          bannerDuration.innerHTML = poster.dataset.duration;
        } else if (poster.dataset.épisodes != null) {
          bannerDuration.innerHTML = poster.dataset.épisodes;
        } else {
          bannerDuration.innerHTML = 'No duration estimated';
        } parentBottomBanner.appendChild(bannerDuration);
        const bannerParentStars = document.createElement('div');
        bannerParentStars.classList.add('bannerParentStars');
        for (let j = 0; j < poster.dataset.avis; j++) {
          bannerParentStars.innerHTML += '<span class="material-symbols-outlined">grade</span>';
        }
        for (let j = 0; j < 5 - poster.dataset.avis; j++) {
          bannerParentStars.innerHTML += '<span class="material-symbols-outlined">grade</span>';
          bannerParentStars.lastChild.style.color = '#e3f7f5';
        }
        parentBottomBanner.appendChild(bannerParentStars);
        const suivieButton = document.createElement('div');
        suivieButton.classList.add('suivieButtonadd');

        var found = false;
        {% if app.user != null %}
        {% for s in app.user.getSeries() %}
        if(poster.dataset.id == {{ s.getId() }}){
          suivieButton.innerHTML = '<span class="material-symbols-outlined">heart_minus</span>';
          found = true;
        }
        {% endfor %}
        {% endif %}

        if(!found){
          suivieButton.innerHTML = '<span class="material-symbols-outlined">heart_plus</span>';
        }

        parentBottomBanner.appendChild(suivieButton);
        if(mediaqueries.width<=650){
          document.body.insertBefore(banner, document.getElementsByClassName('paging')[0]);
        }else {
          document.body.appendChild(banner);
        }
        if(mediaqueries.width > 1700) {
          document.getElementById('show').style.width = '85%';
          document.getElementById('show').style.marginRight = '15%';
        }
        bannerClose.addEventListener('click', function () {
          document.body.removeChild(banner);
          document.getElementById('show').style.width = '100%';
          document.getElementById('show').style.marginRight = '0';
          document.body.style.overflowY = 'scroll';
        });

        {% if app.user == null %}
        suivieButton.addEventListener('click', function () {
          window.location.replace("{{ path("app_login") }}");
        });
        {% else %}
        suivieButton.addEventListener('click', function () {
          if (suivieButton.querySelector('span').innerHTML == 'heart_plus') {
            suivieButton.querySelector('span').innerHTML = 'heart_check';
            suivieButton.style.color = 'rgb(0, 105, 0)';
            setTimeout(function () {
              suivieButton.style.color = 'white';
              suivieButton.querySelector('span').innerHTML = 'heart_minus';
            }, 600);

            $.ajax({
              type: "POST",
              url: "{{ path('app_default') }}",
              data: {add : true, id : poster.dataset.id}
            });

            suivieButton.addEventListener('click', function () {
              if (suivieButton.querySelector('span').innerHTML == 'heart_plus') {
                suivieButton.querySelector('span').innerHTML = 'heart_check';
                suivieButton.style.color = 'rgb(0, 105, 0)';

                setTimeout(function () {
                  suivieButton.style.color = 'white';
                  suivieButton.querySelector('span').innerHTML = 'heart_minus';
                }, 600);

                $.ajax({
                  type: "POST",
                  url: "{{ path('app_default') }}",
                  data: {
                    add: true,
                    id: poster.dataset.id
                  }
                });

              } else if (suivieButton.querySelector('span').innerHTML == 'heart_minus') {
                suivieButton.querySelector('span').innerHTML = 'heart_check';
                suivieButton.style.color = '#ac1536';

                setTimeout(function () {
                  suivieButton.style.color = 'white';
                  suivieButton.querySelector('span').innerHTML = 'heart_plus';
                }, 600);

                $.ajax({
                  type: "POST",
                  url: "{{ path('app_default') }}",
                  data: {
                    add: false,
                    id: poster.dataset.id
                  }
                });
              }

            });
          }
        });
        {% endif %}

        if (banner.offsetHeight >= window.innerHeight) {
          banner.style.borderTopLeftRadius = '0';
        } else if (mediaqueries.width > 650){
          banner.style.borderTopLeftRadius = '15px';
        }
        if(mediaqueries.width <= 1700 && mediaqueries.width > 1240){
          bannerImg.style.height = banner.offsetHeight - 20 + 'px';
        }
        if(mediaqueries.width <= 1240 && mediaqueries.width > 650){
          banner.style.top = (mediaqueries.height - banner.offsetHeight)/2 + 'px';
        }
      }
  </script>

{% endblock %}