{% extends 'base.html.twig' %}

{% block title %}Series Info{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/seriesInfo.css') }}">
{% endblock %}

{% block body %}
    <div id="pageInfo">
        <div id="visual">
            <img id="imagePoster" src="{{ path('app_series_poster',{id: series.id}) }}" alt='Series Poster'>
            <iframe id="trailer" src="{{ series.youtubeTrailer }}" frameborder="0" allowfullscreen autoplay></iframe>
        </div>   
        <div id="information">
            <div id="seriesTitle">Title : {{ series.title }}</div>
            <hr>
            <div id="seriesPlot">Description : {{ series.plot }}</div>
            <hr>

            {% if series.genre|length > 1 %}
                <div id="seriesGenre">Genres : </div>
            {% else %}
                <div id="seriesGenre">Genre : </div>
            {% endif %}

            {% for genre in series.genre %}
                <p class="genre">{{ genre.name }}</p>
            {% endfor %}
            <hr>
            <div id="seriesDirector">Director : {{ series.director }}</div>
        </div>
    </div>
    
    <nav>
        <ul>
            {% set route = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {% set seasonNumber = route|slice(route|length-1, route|length) %}

            {% for s in seasons %}
                {% if s.number == seasonNumber %}
                    <li ><a style="color: #cba848;" href="{{ path('app_index_season_info', {id: series.id, num: s.number}) }}">Season {{ s.number }}</a></li>
                {% else %}
                    <li ><a href="{{ path('app_index_season_info', {id: series.id, num: s.number}) }}">Season {{ s.number }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav> 
    <div id="contentEpisode">
        
        {% if episodes != null %}
            <h2 style="color:black">Episodes</h2>
            <ul id="episodeList">
                {% for episode in episodes %}
                    <li>{{ episode.number }} episode
                    <h2>{{ episode.title }}</h2>
                    <p>{{ episode.date|date('d/m/Y') }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    </div>


    <div id="rating">
        <form action="{{ path('app_index_series_info', {id: series.id}) }}" method="post">
            <label for="rating">Notez la série:</label>
            <select id="rating" name="rating">
                <option value="" {% if userRating is null %}selected{% endif %}>Sélectionnez une note</option>
                {% for i in 1..5 %}
                    <option value="{{ i }}" {% if i == userRating %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
            <label for="comment">Laisser une critique:</label>
            <textarea id="comment" name="comment">{{ userComment }}</textarea>
            <input type="submit" name="action" value="{{ userRating ? 'Modifier' : 'Envoyer' }}">
            {% if userRating %}
                <input type="submit" name="action" value="Supprimer">
            {% endif %}
        </form>
    </div>  

    
    <script>
        window.onload = function() {
            var img = document.querySelector('#visual img');
            var trailer = document.querySelector('#trailer');
            trailer.style.width = getComputedStyle(img).width;
        }
        /*document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        e.target.reset();
        });*/
    </script>
{% endblock %}


