{% extends 'base.html.twig' %}

{% block title %}Series Info{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/seriesInfo.css') }}">
{% endblock %}

{% block body %}
    <div id="pageInfo">
        <style>#followButton, #unfollowButton { background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit; }</style>

        <div id="visual">
            <img id="imagePoster" src="{{ path('app_series_poster',{id: series.id}) }}" alt='Series Poster'>
            <iframe id="trailer" src="{{ series.youtubeTrailer }}" frameborder="0" allowfullscreen autoplay></iframe>
        </div>   
        <div id="information">

            {% set found = false %}
            {% if app.user != null %}
                {% for s in app.user.getSeries() %}
                    {% if series.getId() == s.getId() %}
                        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
                        <div id="seriesTitle" style="display: inline-block;">
                            Title : {{ series.title }}
                            <form action="{{ path('app_index_series_info', {id: series.id}) }}" method="POST" id="formFollow" style="display: inline-block;">
                                <input type="text" name="idToRemove" value="{{ series.getId() }}" hidden>
                                <input type="text" name="remove" value="1" hidden>
                                <button type="submit" id="unfollowButton" onclick="onUnfollowClick('{{ series.getId() }}')">
                                    <span class="material-symbols-outlined unfollow">favorite</span>
                                </button>
                            </form>
                        </div>
                        {% set found = true %}
                    {% endif %}
                {% endfor %}
                {% if found == false %}
                    <div id="seriesTitle" style="display: inline-block;">
                        Title : {{ series.title }}
                        <form action="{{ path('app_index_series_info', {id: series.id}) }}" method="POST" id="formFollow" style="display: inline-block;">
                            <input type="text" name="idToAdd" value="{{ series.getId() }}" hidden>
                            <input type="text" name="remove" value="0" hidden>
                            <button type="submit" id="followButton" onclick="onFollowClick('{{ series.getId() }}')">
                                <span class="material-symbols-outlined follow">heart_plus</span>
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% else %}
                <div id="seriesTitle" style="display: inline-block;">
                    Title : {{ series.title }}
                    <form action="{{ path('app_login') }}" method="POST" id="formFollow" style="display: inline-block"><button type="submit" id="followButton"><span class="material-symbols-outlined">heart_plus</span></button></form>
                </div>
            {% endif %}

            <hr>
            <div id="seriesPlot">Description : {{ series.plot }}</div>
            <hr>

            {% if series.genre|length > 1 %}
                <div id="seriesGenre">Genres : </div>
            {% else %}
                <div id="seriesGenre">Genre : </div>
            {% endif %}

            {% for genre in series.genre %}
                <p class="genre">{{ genre.name }}</p>
            {% endfor %}
            <hr>
            <div id="seriesDirector">Director : {{ series.director }}</div>
        </div>
    </div>
    
    <nav>
        <ul>
            {% set route = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {% set seasonNumber = route|slice(route|length-1, route|length) %}

            {% for s in seasons %}
                {% if s.number == seasonNumber %}
                    <li ><a style="color: #cba848;" href="{{ path('app_index_season_info', {id: series.id, num: s.number}) }}">Season {{ s.number }}</a></li>
                {% else %}
                    <li ><a href="{{ path('app_index_season_info', {id: series.id, num: s.number}) }}">Season {{ s.number }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav> 
    <div id="contentEpisode">
        
        {% if episodes != null %}
            <h2 style="color:black">Episodes</h2>
            <ul id="episodeList">
                {% for episode in episodes %}
                    <li>{{ episode.number }} episode
                    <h2>{{ episode.title }}</h2>
                    <p>{{ episode.date|date('d/m/Y') }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
        
    </div>

    <script>
        window.onload = function() {
            var img = document.querySelector('#visual img');
            var trailer = document.querySelector('#trailer');
            trailer.style.width = getComputedStyle(img).width;
        }

        function onUnfollowClick(id){
            const unfollow = document.getElementById('unfollowButton');
            const form = document.getElementById('formFollow');
            unfollow.outerHTML = '';
            form.innerHTML = '<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />';
            {% if app.request.query.get('page') == null %}
                form.innerHTML += '<form action="{{ path('app_index_series_info', {'id': series.id}) }}" method="POST"><input type="text" name="idToAdd" value="' + id + '" hidden><input type="text" name="remove" value="1" hidden><button type="submit" id="followButton" onclick="onUnfollowClick()"><span class="material-symbols-outlined follow">heart_plus</span></button></form>';
            {% else %}
                form.innerHTML += '<form action="{{ path('app_index_series_info', {'id': series.id}) }}" method="POST"><input type="text" name="idToAdd" value="' + id + '" hidden><input type="text" name="remove" value="1" hidden><button type="submit" id="followButton" onclick="onUnfollowClick()"><span class="material-symbols-outlined follow">heart_plus</span></button></form>';
            {% endif %}
        }

        function onFollowClick(id){
            const follow = document.getElementById('followButton');
            const form = document.getElementById('formFollow');
            follow.outerHTML = '';
            form.innerHTML = '<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />';
            {% if app.request.query.get('page') == null %}
                form.innerHTML += '<form action="{{ path('app_index_series_info', {'id': series.id}) }}" method="POST"><input type="text" name="idToRemove" value="' + id + '" hidden><button type="submit" id="unfollowButton" onclick="onUnfollowClick()"><span class="material-symbols-outlined unfollow">favorite</span></button></form>';
            {% else %}
                form.innerHTML += '<form action="{{ path('app_index_series_info', {'id': series.id}) }}" method="POST"><input type="text" name="idToRemove" value="' + id + '" hidden><button type="submit" id="unfollowButton" onclick="onFollowClick()"><span class="material-symbols-outlined unfollow">favorite</span></button></form>';
            {% endif %}
        }
    </script>
{% endblock %}


