<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
		<link rel="stylesheet" href="/nav-bar.css"/>
		<link rel="stylesheet" href="/css/index.css"/> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body data-onthispage={{ path(app.request.attributes.get('_route'),
     app.request.attributes.get('_route_params')) }}>
        {% block header %}
        {% endblock %}
		<div id="menu">
			<div id="parentItemMenuLeft">
				{% if app.user!=null and app.user.admin %}
					<div class="itemMenu" onclick="window.location.href = '/browse/series'">
						<span class="material-symbols-outlined">
							saved_search
						</span>
					</div>
				{% endif %}
			</div>
			<div id="parentItemMenuCenter">
				<div class="itemMenu" onclick="window.location.href = '/?page=1'">
					<span class="material-symbols-outlined">
						home
					</span>
				</div>
				<div class="itemMenu" onclick="window.location.href = '/user/series'">
					<span class="material-symbols-outlined">
						subscriptions
					</span>
				</div>
				<div class="itemMenu" onclick="window.location.href = '/users'">
					<span class="material-symbols-outlined">
						groups
					</span>
				</div>
			</div>
			<div id="parentItemMenuRight">
				<div class="itemMenu" id="accountButton">
					{% if not app.user %}
						<a href="{{ path('app_register') }}" class="button register">Register</a>
						<a href="{{ path('app_login') }}" class="button connect">Sign in</a>
					{% else %}
						<img src="https://ui-avatars.com/api/?name={{ app.user.name }}&size=32&background=random&rounded=true">
					{% endif %}
				</div>
			{% if is_granted('IS_IMPERSONATOR') %}
				<div class="itemMenu" onclick="window.location.href = '/users?_switch_user=_exit'">{# <a id="brighterLink" style="color:orange;" href="{{ impersonation_exit_path(path('app_login') ) }}"> #}
				<span class="material-symbols-outlined">
					preview
				</span>{# </a> #}</div>
			{% endif %}
			</div>
		</div>
		{% block body %}{% endblock %}
	</body>
	<script>
    	const onThisPage = document.querySelector('body').dataset.onthispage;
    	const items = document.querySelectorAll('.itemMenu');
		</script>
		{% if is_granted('IS_IMPERSONATOR')  %}
			<script>
			switch(onThisPage) {
				case '/':
					items[2].classList.add('onThisPage');
					break;
				case '/users':
					items[3].classList.add('onThisPage');
					break;
				case '/user/series':
					items[2].classList.add('onThisPage');
					break;
			}
			</script>
    	{% else %}
			<script>
			switch(onThisPage) {
				case '/':
					items[1].classList.add('onThisPage');
					break;
				case '/users':
					items[2].classList.add('onThisPage');
					break;
				case '/user/series':
					items[1].classList.add('onThisPage');
					break;
			}
			</script>
		{% endif %}
		<script>
		const accountButton = document.querySelector('.itemMenu img');
		accountButton.addEventListener('click', function () {
			if (document.querySelector('.disconnect')) {
				document.querySelector('.disconnect').parentNode.removeChild(document.querySelector('.disconnect'));
			} else {
				accountButton.parentNode.insertBefore(makeAccountNav(), accountButton);
			}
		});

		function makeAccountNav() {
			const accountNav = document.createElement('div');
			accountNav.classList.add('disconnect');
			accountNav.innerHTML = '<span class="material-symbols-outlined">logout</span><a href=" {{ path('app_logout') }}">Logout</a>';
			accountNav.innerHTML += '<a href=" {{ path('user_profile') }}">Profile</a>';
			return accountNav;
		}

		const suivieButton = document.querySelector('#suivieButton');
		suivieButton.addEventListener('click', function () {
			if (suivieButton.querySelector('span').innerHTML == 'heart_plus') {
				suivieButton.querySelector('span').innerHTML = 'heart_check';
				suivieButton.style.color = 'rgb(0, 105, 0)';

				setTimeout(function () {
					suivieButton.style.color = 'white';
					suivieButton.querySelector('span').innerHTML = 'heart_minus';
				}, 600);

			} else if (suivieButton.querySelector('span').innerHTML == 'heart_minus') {
				suivieButton.querySelector('span').innerHTML = 'heart_check';
				suivieButton.style.color = '#ac1536';

				setTimeout(function () {
					suivieButton.style.color = 'white';
					suivieButton.querySelector('span').innerHTML = 'heart_plus';
				}, 600);
			}
		});
	</script>
</html>
