{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/register-login.css') }}">
{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <script>
        error_text = "{{ error.messageKey|trans(error.messageData, 'security')|e('js') }}";
        console.log(error_text);
        if(error_text.length != 0){
            alert(error_text);
        }
        </script>
        {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as <span id="Logout-username">{{ app.user.userIdentifier }}</span>
            <a href="{{ path('app_logout') }}"><button class="btn btn-outline-light" type="submit">
                Log out
            </button></a>
        </div>
    {% else %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" placeholder="example@mail.com" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" placeholder="6 characters min" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-outline-light" type="submit">
        Sign in
    </button>
    {% endif %}
</form>
{% endblock %}
