{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/register-login.css') }}">
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <h1>Register</h1>

    {#{ form_errors(registrationForm) }#}

    <style>
    .form_body ul{display:none;}
    </style>

    <script>
    error_n = "{{ errorN|e('js') }}";
    error_e = "{{ errorE|e('js') }}";
    error_p = "{{ errorP|e('js') }}";
    error_captcha = "{{ errorCaptcha|e('js') }}";
    error_country = "{{ errorCountry|e('js') }}";
    error_text = "";
    if(error_n.length != 0){
        error_text += error_n;
    }
    if(error_e.length != 0){
        error_text += "\n"+error_e;
    }
    if(error_p.length != 0){
        error_text += "\n"+error_p;
    }
    if(error_captcha.length != 0){
        error_text += "\n"+error_captcha;
    }
    if(error_country.length != 0){
        error_text += "\n"+error_country;
    }

    error_text = error_text.replaceAll("ERROR:", "");
    console.log(error_text);
    if(error_text.length != 0){
        alert(error_text);
    }
    </script>


    <div class="form_body">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name)}}
        {{ form_row(registrationForm.email, {label: 'Email'}) }}    
        
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.country) }}
        {{ form_row(registrationForm.captcha) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
