{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/ratings.css" />
    <link rel="stylesheet" href="/profile.css" />
    <link rel="stylesheet" href="{{ asset('/register-login.css') }}"> 
    <h1>Edit your profile</h1>

    <style>
    .form_body ul{display:none;}
    </style>
    <script>
    error_n = "{{ errorN|e('js') }}";
    
    error_p = "{{ errorP|e('js') }}";
    
    error_text = "";
    if(error_n.length != 0){
        error_text += error_n;
    }
    if(error_p.length != 0){
        error_text += "\n"+error_p;
    }

    error_text = error_text.replaceAll("ERROR:", "");
    console.log(error_text);
    if(error_text.length != 0){
        alert(error_text);
    }
    </script>

<div class="form_body">

    {{ form_start(form) }} 
        {{ form_row(form.name)}}        
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(form.country) }}
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    {{ form_end(form) }}

    <div class="HeaderOfRatings" style="width: fit-content; transform : translateX(40%); margin-top : 15px;">
        <div class="headerTextOfRatings" style=""><p><a href="{{ path('user_profile') }}">Check</a> your profile</p>
            <a href="{{ path('user_profile') }}">
            <img src="https://ui-avatars.com/api/?name={{ user.name }}&background=random&rounded=true" style="display: inline; margin-left : 15px;"></a>
        </div>
    </div>

</div>

{% endblock %}
