{% extends 'base.html.twig' %}

{% block title %}User Info{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/users.css" />

{{ user }}
<img src="https://ui-avatars.com/api/?name={{ user }}&background=random&rounded=true" style="display: inline;">
<a href="/user/series/{{ user }}">{{user}} 's list of series</a>
<a href="/user/ratings/{{ user }}">{{user}} 's list of ratings</a>

{% endblock %}