{% extends 'base.html.twig' %}

{% block title %}User Info{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/profile.css" />
    <link rel="stylesheet" href="/css/users.css" />

{{ user }}
<img src="https://ui-avatars.com/api/?name={{ user }}&background=random&rounded=true" style="display: inline;">
<a href="/user/series/{{ user }}">{{user}} 's list of <span id="bigWord">series</span></a>
<a href="/user/ratings/{{ user }}">{{user}} 's list of <span id="bigWord">ratings</span></a>

<table id="seriesTable">
<tbody>
<script>
    var i=0;
    var tbodyRef = document.getElementById('myTable').getElementsByTagName('tbody')[0];
</script>
<h2>This user follows the following Series</h2>
{% for s in pagination %}
            <script>
            
                if (i%10==0){
                    var newRow = tbodyRef.insertRow();
                }
            </script>
                <td><a href="{{ path('app_index_series_info',{id: s.id}) }}">
                    <img src="{{ path('app_series_poster',{id: s.id}) }}" style="max-width: 50%;"> 
                    {# le style des images ne donne pas un rendu uniforme #}
                    </a><p style="font-size: 12px;">{{ s.title }}</p></td>
                {# <td><p style="display: inline;">{{ s.title }}</p></td> #}

            <script>
                i++;
            </script>
            
{% endfor %}
            
</tbody>
</table>
<h2>This user's (most recent ?) reviews</h2> {# most recent ? = bien order MAIS 
choix à faire : paginer les reviews (comment) ? ou afficher les ~5 plus récentes #}
<table style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
    <thead>
        <tr>
            <td>Note</td>
            <td>Commentaire</td>
            <td>Série</td>
            <td>
                <div id="imageTheadOfRatings">Poster</div>
            </td>
            <td>Date</td>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments|reverse %}
            <tr>
                {# <td><a href="{{path('series_reviews_by_user',{username: comment.user.name})}}"><img src="https://ui-avatars.com/api/?name={{ comment.user.name }}&background=random&rounded=true" style="display: inline;"></a>{{comment.user.name}}</td> #}
                <td>
                    <div id="ratingOfRatings">{{ comment.value }}</div>
                </td>
                <td>
                    {{ comment.comment }}</td>
                <td>
                    {{ comment.series.title }}</td>
                <td>
                    <a href="{{ path('app_index_series_info',{id: comment.series.id}) }}">
                    <img id="imagePoster" src="{{ path('app_series_poster',{id: comment.series.id}) }}" alt='Series Poster' style="max-width: 20%;"></a>
                </td>
                <td>
                    {% set diff = date().diff(comment.date) %}
                    {% if diff.y > 0 %}
                        Publié il y a
                        {{ diff.y }}
                        an(s)
                    {% elseif diff.m > 0 %}
                        Publié il y a
                        {{ diff.m }}
                        mois
                    {% elseif diff.d > 0 %}
                        Publié il y a
                        {{ diff.d }}
                        jour(s)
                    {% elseif diff.h > 0 %}
                        Publié il y a
                        {{ diff.h }}
                        heure(s)
                    {% else %}
                        Publié il y a
                        {{ diff.i }}
                        minute(s)
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}