{% extends './utils/paging.html.twig' %}

{% block title %}Ratings{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/ratings.css" />

    <h1>Ratings de l'utilisateur {{ user.name }} <img src="https://ui-avatars.com/api/?name={{ user.name }}&background=random&rounded=true" style="display: inline;"></h1>
    
    <table style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
        <thead>
            <tr>
                <td>Note</td>
                <td>Commentaire</td>
                <td>Série</td>
                <td><div id="imageTheadOfRatings">Poster</div></td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments|reverse %}
                <tr>
                    {# <td><a href="{{path('series_reviews_by_user',{username: comment.user.name})}}"><img src="https://ui-avatars.com/api/?name={{ comment.user.name }}&background=random&rounded=true" style="display: inline;"></a>{{comment.user.name}}</td> #}
                    <td><div id="ratingOfRatings">{{ comment.value }}</div></td>
                    <td> {{ comment.comment }}</td>
                    <td> {{ comment.series.title }}</td>
                    <td><img id="imagePoster" src="{{ path('app_series_poster',{id: comment.series.id}) }}" alt='Series Poster'></td>
                    <td>
                        {% set diff = date().diff(comment.date) %}
                        {% if diff.y > 0 %}
                            Publié il y a {{ diff.y }} an(s)
                        {% elseif diff.m > 0 %}
                            Publié il y a {{ diff.m }} mois
                        {% elseif diff.d > 0 %}
                            Publié il y a {{ diff.d }} jour(s)
                        {% elseif diff.h > 0 %}
                            Publié il y a {{ diff.h }} heure(s)
                        {% else %}
                            Publié il y a {{ diff.i }} minute(s)
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
