{% extends './utils/paging.html.twig' %}

{% block title %}Ratings{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/ratings.css" />

    <div id="headerOfRatings">
        <h1>
            <div id="headerTextOfRatings">
                <p>Ratings de l'utilisateur <span class="spanUsernameOfRatingsC">{{ user }}</span></p>
            {# </div>
            <div id="avatarOfRatings"> #}
                <a href="{{path('user_profile_search',{username: user})}}"><img src="https://ui-avatars.com/api/?name={{ user }}&background=random&rounded=true" style="display: inline;"></a>
            </div>
        </h1>
    </div>
    
    {% if comments is empty %}
        <div>L'utilisateur <span class="spanUsernameOfRatingsC">{{user}}</span> n'a rien noté !</div>
    {% else %}
        <table style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
            <thead>
                <tr>
                    <td>Note</td>
                    <td>Commentaire</td>
                    <td>Série</td>
                    <td><div id="imageTheadOfRatings">Poster</div></td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments|reverse %}
                    <tr>
                        {# <td><a href="{{path('series_reviews_by_user',{username: comment.user.name})}}"><img src="https://ui-avatars.com/api/?name={{ comment.user.name }}&background=random&rounded=true" style="display: inline;"></a>{{comment.user.name}}</td> #}
                        <td><div id="ratingOfRatings">{{ comment.value }}</div></td>
                        <td> {{ comment.comment }}</td>
                        <td> {{ comment.series.title }}</td>
                        <td><a href="{{ path('app_index_series_info',{id: comment.series.id}) }}"><img id="imagePoster" src="{{ path('app_series_poster',{id: comment.series.id}) }}" alt='Series Poster'></a></td>
                        <td>
                            {% set diff = date().diff(comment.date) %}
                            {% if diff.y > 0 %}
                                Publié il y a {{ diff.y }} an(s)
                            {% elseif diff.m > 0 %}
                                Publié il y a {{ diff.m }} mois
                            {% elseif diff.d > 0 %}
                                Publié il y a {{ diff.d }} jour(s)
                            {% elseif diff.h > 0 %}
                                Publié il y a {{ diff.h }} heure(s)
                            {% else %}
                                Publié il y a {{ diff.i }} minute(s)
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {{ block('paging') }}

    <script>
        function onSelectChange(element){
            var values = element.value.split(" ");
            var form = $('<form action="#" method="post">' +
            '<input type="text" name="role" value="' + values[0] + '" hidden />' +
            '<input type="text" name="id" value="' + values[1] + '" hidden />' +
            '</form>');
            $('body').append(form);
            form.submit();
        }
    </script>
{% endblock %}
