{% extends './utils/paging.html.twig' %}

{% block title %}Series Followed{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>td a:link {color:yellow;}
    td a:visited {color:orange;}</style>

    <h1>Followed series</h1>

    {% if pagination|length == 0 %}
        <p>You don't follow series.</p>
    {% else %}
        <table style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
            <thead>
                <tr>
                    <td>Poster</td>
                    <td>Title</td>
                    <td></td>
                    <td>Views</td>
                    <td>Link</td>
                </tr>
            </thead>

            {% set i = 0 %}
            {% for s in pagination %}
                <tbody>
                    <tr class="series">
                        <td><img src="{{ path('app_series_poster',{id: s.id}) }}" style="width: 8%;"></td>
                        <td><p style="display: inline;">{{ s.title }}</p></td>

                        {% set episode_count = 0 %}
                        {% if seriesView|length > 0 %}
                            {% for se in seriesView %}

                                {% if s.id == se.id %}
                                    {% set episode_count = se.episode_count_view %}
                                {% endif %}

                            {% endfor %}
                        {% endif %}

                        {% if s.episode_count > 0 %}
                            {% set percentage = (episode_count / s.episode_count) * 100 %}
                        {% else %}
                            {% set percentage = 0 %}
                        {% endif %}
                        <td>{{ episode_count }}/{{ s.episode_count }}</td>
                        <td><progress id="percentageViews" max="100" value="{{ percentage }}"></progress></td>
                        <td><a href="{{ path('app_index_series_info',{id: s.id}) }}"><p>Go to page</p></a></td>

                    </tr>
                </tbody>
            {% endfor %}
        </table>

        {{ block('paging') }}
    {% endif %}

    <script>
        function onSelectChange(element){
            var values = element.value.split(" ");
            var form = $('<form action="#" method="post">' +
            '<input type="text" name="role" value="' + values[0] + '" hidden />' +
            '<input type="text" name="id" value="' + values[1] + '" hidden />' +
            '</form>');
            $('body').append(form);
            form.submit();
        }
    </script>
{% endblock %}
