{% extends './utils/paging.html.twig' %}

{% block title %}Series Followed{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/ratings-and-seriesFollowed.css" />

    <h1>Followed series</h1>

    {% if pagination is empty %}
        <div>L'utilisateur <span class="spanUsernameOfRatingsC">{{user}}</span> ne suis aucune série !</div>
    {% else %}
    <table style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
        <thead>
            <tr>
                <td>Poster</td>
                <td>Title</td>
                <td>Link</td>
            </tr>
        </thead>
        {% for s in pagination %}
        <tbody>
            <tr class="series">
            <td><img src="{{ path('app_series_poster',{id: s.id}) }}" style="width: 8%;"></td>
            <td><p style="display: inline;">{{ s.title }}</p></td>
            <td><a href="{{ path('app_index_series_info',{id: s.id}) }}"><p>Go to page</p></a></td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
    {{ block('paging') }}

    <script>
        function onSelectChange(element){
            var values = element.value.split(" ");
            var form = $('<form action="#" method="post">' +
            '<input type="text" name="role" value="' + values[0] + '" hidden />' +
            '<input type="text" name="id" value="' + values[1] + '" hidden />' +
            '</form>');
            $('body').append(form);
            form.submit();
        }
    </script>
    {% endif %}

{% endblock %}
