{% extends 'base.html.twig' %}

{% block title %}Paging{% endblock %}

{% block body %}
    {% block paging %}
        <div class="paging">
            {% if page - 1 > 0 %}
                <a href="?page={{ page - 1 }}"><p style="display: inline;">Previous</p></a>
            {% else %}
                <a href="?page={{ page }}"><p style="display: inline;">Previous</p></a>
            {% endif %}

            {% for nb in 1..numberOfPages %}
                {% if page == nb %}
                    <a href="?page={{ nb }}"><p style="display: inline; font-weight: bold;">{{ nb }}</p></a>
                {% else %}
                    <a href="?page={{ nb }}"><p style="display: inline;">{{ nb }}</p></a>
                {% endif %}
            {% endfor %}

            {% if page + 1 <= numberOfPages %}
                <a href="?page={{ page + 1 }}"><p style="display: inline;">Next</p></a>
            {% else %}
                <a href="?page={{ page }}"><p style="display: inline;">Next</p></a>
            {% endif %}

            <form style="display: inline;">
                <input name="page" type="number" min="1" max="{{ numberOfPages }}" placeholder="Page" required />
                <input type="submit" hidden />
            </form>
        </div>
    {% endblock %}
{% endblock %}